<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>G13_CatCafe</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ToppageServlet</display-name>
    <servlet-name>ToppageServlet</servlet-name>
    <servlet-class>controller.ToppageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToppageServlet</servlet-name>
    <url-pattern>/ToppageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListServlet</display-name>
    <servlet-name>ListServlet</servlet-name>
    <servlet-class>controller.ListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListServlet</servlet-name>
    <url-pattern>/ListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmServlet</display-name>
    <servlet-name>ConfirmServlet</servlet-name>
    <servlet-class>controller.ConfirmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmServlet</servlet-name>
    <url-pattern>/ConfirmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmOrderServlet</display-name>
    <servlet-name>ConfirmOrderServlet</servlet-name>
    <servlet-class>controller.ConfirmOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmOrderServlet</servlet-name>
    <url-pattern>/ConfirmOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KitchenOrderServlet</display-name>
    <servlet-name>KitchenOrderServlet</servlet-name>
    <servlet-class>controller.KitchenOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KitchenOrderServlet</servlet-name>
    <url-pattern>/KitchenOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMenuServlet</display-name>
    <servlet-name>AddMenuServlet</servlet-name>
    <servlet-class>controller.AddMenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMenuServlet</servlet-name>
    <url-pattern>/AddMenuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartAddServlet</display-name>
    <servlet-name>CartAddServlet</servlet-name>
    <servlet-class>controller.CartAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartAddServlet</servlet-name>
    <url-pattern>/CartAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountingServlet</display-name>
    <servlet-name>AccountingServlet</servlet-name>
    <servlet-class>controller.AccountingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountingServlet</servlet-name>
    <url-pattern>/AccountingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckoutServlet</display-name>
    <servlet-name>CheckoutServlet</servlet-name>
    <servlet-class>controller.CheckoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckoutServlet</servlet-name>
    <url-pattern>/CheckoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckServlet</display-name>
    <servlet-name>CheckServlet</servlet-name>
    <servlet-class>controller.CheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckServlet</servlet-name>
    <url-pattern>/CheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HistoryServlet</display-name>
    <servlet-name>HistoryServlet</servlet-name>
    <servlet-class>controller.HistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HistoryServlet</servlet-name>
    <url-pattern>/HistoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TableSelectServlet</display-name>
    <servlet-name>TableSelectServlet</servlet-name>
    <servlet-class>controller.TableSelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TableSelectServlet</servlet-name>
    <url-pattern>/TableSelectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMenuServlet</display-name>
    <servlet-name>DeleteMenuServlet</servlet-name>
    <servlet-class>controller.DeleteMenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMenuServlet</servlet-name>
    <url-pattern>/DeleteMenuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToggleMenuServlet</display-name>
    <servlet-name>ToggleMenuServlet</servlet-name>
    <servlet-class>controller.ToggleMenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToggleMenuServlet</servlet-name>
    <url-pattern>/ToggleMenuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMenuOptionServlet</display-name>
    <servlet-name>AddMenuOptionServlet</servlet-name>
    <servlet-class>controller.AddMenuOptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMenuOptionServlet</servlet-name>
    <url-pattern>/AddMenuOptionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MenuOptionDAO</display-name>
    <servlet-name>MenuOptionDAO</servlet-name>
    <servlet-class>database.MenuOptionDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuOptionDAO</servlet-name>
    <url-pattern>/MenuOptionDAO</url-pattern>
  </servlet-mapping>
</web-app>